* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Cooper Hewitt";
    src: url("font/CooperHewitt-Thin.otf");
}

body {
    font-family: 'Cooper Hewitt';
}

#container {
    margin: 7vh auto 3vh;
    border-radius: 25px;
    height: 440px;
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: #1C1C1C;
}

#display, #displayContainer {
    display: flex;
    width: 213px;
    height: 110px;
    align-self: center;
    justify-content: flex-end;
    align-items: flex-end;
}

#display {
    margin-top: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    color:#fff;
    font-size: 46px;
}

.operator {
    font-size: 28px;
}

button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    border-color: transparent;
}

button:hover {
    background-image: linear-gradient(rgb(255 255 255/20%) 0 0);
}

#keys {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.operator:focus {
    color: #FF9500;
    background-color: #fff;
}

#zero {
    width: 104px;
    border-radius: 23px;
}

#equal {
    font-size: 20px; 
}

.orange {
    background-color: #FF9500;
}

.darkGray {
    background-color: #505050;
    font-size: 20px;
}

.blackText {
    color: #1C1C1C;
}

.gray {
    background-color: #D4D4D2;
    font-size: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.fa-github {
    color: black;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }
