* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Cooper Hewitt";
    src: url("font/CooperHewitt-Thin.otf");
}

body {
    font-family: 'Cooper Hewitt';
}

#container {
    margin: 7vh auto 3vh;
    border: solid 1px;
    border-radius: 25px;
    height: 440px;
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #1C1C1C;
}

#display, #displayContainer {
    display: flex;
    width: 213px;
    height: 110px;
    align-self: center;
    justify-content: flex-end;
    align-items: flex-end;
}

#display {
    margin-top: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    color:#fff;
    font-size: 46px;
}

button {
    text-align: center;
    height: 50px;
    width: 50px;
    border: solid 1px;
    border-radius: 50%;
    color: #fff;
    border-color: transparent;
    font-size: larger;
}

button:hover {
    background-image: linear-gradient(rgb(255 255 255/20%) 0 0);
}

#keys {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 5px;
    margin-top: 0px;
    padding-bottom: 10px;
}

.operator:focus {
    color: #FF9500;
    background-color: #fff;
}

#zero {
    width: 104px;
    border-radius: 23px;
}

.orange {
    background-color: #FF9500;
}

.darkGray {
    background-color: #505050;
}

.blackText {
    color: #1C1C1C;
}

.gray {
    background-color: #D4D4D2;
}
